URxvt.boldFont: true
URxvt.scrollBar: false
#URxvt.transparent: true
#URxvt*shading: 100
*background:  #000000
*foreground:  #bfb4f8
*color0:  #135740
*color1:  #d93cf0
*color2:  #26c30f
*color3:  #d9680f
*color4:  #2697f0
*color5:  #403578
*color6:  #93d6bf
*color7:  #eca8bf
*color8:  #6c2940
*color9:  #d93cf0
*color10:  #26c30f
*color11:  #bfca87
*color12:  #2697f0
*color13:  #403578
*color14:  #93d6bf
*color15:  #ffffff
